<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @memes.each do |meme| %>
    <li><%= image_tag("captain_dogerica.jpg", size: "128x80", alt: "Captain Dogerica") %></li>
    <li><%= image_tag("captain_dogerica.jpg", size: "128x80", alt: "Captain Dogerica") %></li>
    <li><%= image_tag("captain_dogerica.jpg", size: "128x80", alt: "Captain Dogerica") %></li>
    <li><%= image_tag("captain_dogerica.jpg", size: "128x80", alt: "Captain Dogerica") %></li>
  <% end %>
</ul>

<div>
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th><%= link_to 'Name', memes_path(order: :name)%></th>
        <th><%= link_to 'Average Rating', memes_path(order: :average_rating)%></th>
      </tr>
    </thead>
    <tbody>
      <% @memes.each do |meme| %>
      <tr>
        <td><%= link_to (image_tag meme.picture.thumbnail), meme_path(meme.id) %></td>
        <td><%= link_to meme.name, meme_path(meme.id) %></td>
        <td><%= meme.average_rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @memes %>
