<h3>Sort by: <%= link_to 'Name', memes_path(order: :name)%>,
<%= link_to 'Average Rating', memes_path(order: :average_rating)%></h3>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @memes.each do |meme| %>
    <li>
      <%= link_to (image_tag meme.picture.thumbnail), meme_path(meme.id) %><br>
      <%= link_to meme.name, meme_path(meme.id) %>
      <% if meme.average_rating.present? %>
        (<%= meme.average_rating.round(1) %>)
      <% else %>
        (No Ratings)
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @memes %>
