<div>
  <h1> Behold Meme </h1>
</div>

<%= form_tag memes_path, method: 'get' do %>
  <div>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </div>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th><%= link_to 'Name', memes_path(order: :name)%></th>
        <th><%= link_to 'Average Rating', memes_path(order: :average_rating)%></th>
      </tr>
    </thead>
    <tbody>
      <% @memes.each do |meme| %>
      <tr>
        <td><%= link_to (image_tag meme.picture.thumbnail), meme_path(meme.id) %></td>
        <td><%= link_to meme.name, meme_path(meme.id) %></td>
        <td><%= meme.average_rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @memes %>
