<div>
  <h2>Creates teh Meme</h2>
</div>

<div>
  <% if @meme.errors.any? %>
    <ul>
      <% @meme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div>
  <%= form_for @meme do |f| %>
    <div>
      <%= f.text_field :name, placeholder: "Name teh Meme", class: "error" %><br>
    </div>

    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-9 large-10 columns">
        <%= f.text_field :url, placeholder: "URL", class: "error" %>
      </div>
    </div><br>

    <div>
      <%= f.text_area :description, placeholder: "Such description. Much detail." %><br>
    </div>

    <div><%= f.label :picture %><%= f.file_field :picture %></div>

    <%= f.submit 'Submit teh Meme', class: "button radius round" %>

  <% end %>

</div>

