<div>
  <h1><%= @meme.name %> - Average User Rating: <%= @meme.average_rating %></h1>
</div>

<div>
  <%= link_to "Delete", meme_path(@meme), method: :delete %>
</div>

<div>
  <img src="<%= @meme.picture %>" alt="Sorry image can't be loaded">
</div>

<div>
  <p> This meme came from <a target='_blank' href='<%= @meme.url %>'/> <%= @meme.url %> </a></p>
</div>

<div>
  <p><%= @meme.description %></p>
</div>
