<div>
  <h1><%= @meme.name %> - Average User Rating: <%= @meme.average_rating %></h1>
</div>

<div>
  <%= link_to "Delete", meme_path(@meme), method: :delete %>
</div>

<div>
  <img src="<%= @meme.url %>" alt="Sorry image can't be loaded">
</div>

<div>
  <p><%= @meme.description %></p>
</div>

<h3>Submit a Review</h3>
<%= simple_form_for(@review) do |f| %>
  <%= f.input :title, input_html: { maxlength: 90 } %>
  <%= f.input :rating, collection: [5,4,3,2,1] %>
  <%= f.input :body, placeholder: "Do you love this meme???" %>
  <%= f.button :submit, "Submit Review" %>
<% end %>
