<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet the Memes</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Exo:300,400' rel='stylesheet' type='text/css'>
  </head>

<body>
  <div class="parent">
  <div class="child">

<div class="row">
  <div class="small-3 large-6 columns">
    <h1 style="float:left;">
      <%= link_to "Meet the Memes", memes_path, class: "header-text" %>
    </h1>
  </div>
  <div class="small-3 large-5 columns" >
    <ul>
      <li class="has-form" style="list-style:none;float:right;">
        <% if current_user && current_user.admin %>
          <%= link_to 'Admin', admin_memes_path, class: "button radius round" %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "button radius round medium"  %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button radius round medium"  %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: "button medium radius round"  %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "button medium radius round"  %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul>
        <li class="name">
          <h1><%= link_to 'All Memes', memes_path %></h1>
        </li>
        <li class="name">
          <h1><%= link_to 'Add a Meme', new_meme_path %></h1>
        </li>
        <li class="has-form right">
          <div class="row collapse">
            <%= form_tag memes_path, method: 'get' do %>
              <div class="large-7 small-5 columns">
                <%= text_field_tag :search, params[:search] %>
              </div>
              <div class="large-5 small-3 columns">
                <%= submit_tag "Search", name: nil, class: "button small radius expand search-button" %>
            <% end %>
          </div>
        </li>
      </ul>
    </section>
  </nav>
</div>

<br>

<% if flash.any? %>
  <div class="notice"><%= flash[:notice] %></div>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

    <%= yield %>
  </div>
  <div>

  </body>
</html>
